<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vue Push Notification Example</title>
  <link rel="manifest" href="/manifest.json">
  <link rel="stylesheet" type="text/css" href="css/primer.css">
  <style type="text/css" media="screen">
    [v-cloak] {
      display:none;
    }
  </style>
</head>
<body>
<div id="app" class="container">
  <div class="columns">
    <div class="two-thirds column centered">
      <h1>Hello there!</h1>
      <p>Fill in your email and click the button below to subscribe to notifications.</p>
      <form v-on:submit.prevent="subscribe">
        <label for="email">Email address</label>
        <input class="form-control" type="email" id="email" v-model="email" required>
        <button v-cloak class="btn" type="submit" v-bind:disabled="buttonDisable || emailInvalid" v-text="buttonText">Enable Push Messages</button>
        <button v-cloak v-if="isPushEnabled" class="btn btn-danger" type="button" v-on:click.prevent="unsubscribe" v-bind:disabled="buttonDisableDisable"><span v-if="emailInvalid">Enter An Email To Unsubscribe</span><span v-else>Disable Push Messages</span></button>
      </form>
    </div>
  </div>
</div>
<script src="https://www.gstatic.com/firebasejs/4.0.0/firebase.js"></script>
<script src="https://unpkg.com/vue@2.3.3/dist/vue.js"></script>
<script src="js/app.js"></script>
</body>
</html>